@model CookieAuthDemo.Models.UserDetails
@{
    ViewData["Title"] = "UserLogin";
}

<h2>User</h2>
<h4>Login</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (TempData["UserLoginFailed"] != null)
        {
            <p class="alert alert-danger">@TempData["UserLoginFailed"]</p>
        }

        <form asp-action="UserLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default btn-success" />
                <a asp-action="RegisterUser" class="btn btn-info">SignUp</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
